.transitAccountDetails {
    max-height: 45rem;
    overflow-y: auto;
}

.field-records {
    position: relative;
}

.field-records {
    position: relative;
    margin-bottom: 0;
    padding: 0.5rem 0;
}
.field-records:nth-child(even) {
    background-color: #fff;
}
.field-records:nth-child(odd) {
    background-color: #f3f3f3;
}

.my-icon-style {
    width: 1rem;
    height: 1rem;
}
.buttonContainer {
    border: 1px solid #dddbda;
    border-radius: 4px;
}
.buttonContainer .linkButtons {
    border-bottom: 1px solid #dddbda;
    margin: 0;
    padding: 0.5rem 1rem;
}
.buttonContainer .linkButtons:hover {
    background: #dddbda30;
}
ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
  }
.fixedcell-gap {
    padding-top: 8px;
}
.breakCol {
    width: 90%;
    white-space: break-spaces;
}
.spacedHeader::before {
    height: 55px !important;
}
.breakColFixed {
    width: 7%;
    white-space: break-spaces;
}
.padcol2 {
    padding-left: 2rem;
}
.wrapLarge {
    width: 75%;
}