<template>
    <lightning-input class="noLabel stretched" label="" 
	type="search" name="searchSales" placeholder="Search.." onchange={handleSearchInstSales}>
	</lightning-input>
	<table>									
		<thead>
			<tr>
				<th scope="col">
					<div class="fixedcell-gap slds-truncate slds-cell-fixed">Action</div>
				</th>
			</tr>
        </thead>
		<tbody>
		<template for:each={currentOrdersList} for:index="index"for:item="sale">
			<tr class="slds-hint-parent" key={sale.SaleTransactionId}>
				<td data-label="SaleTransactionId">
					<div class="slds-truncate breakCol">
						{sale}
					</div>
				</td>
			</tr>
		</template>
		</tbody>
    </table>								    
</template>